@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
#time
{
    display:flex;
    gap: 40px ;
    color: #fff
}
#time .circle
{
    --clr: inherit;
    position:relative;
    width :150px;
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#time div
{
    position :absolute;
    text-align: center;
    font-weight:500 ;
    font-size: 1.5em;

}

#time div span
{
    position: absolute;
    transform: translateX(-50px) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#time .circle svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
} 
/*base track*/
#time .circle svg circle
{
    stroke : currentColor;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px,5px);
}
/* Progress ring (THIS IS THE MOVING ONE)*/
#time .circle svg circle :nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440 !important;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
#time .ap
{
    position: flex;
    font-size: 1em;
    transform: translateX(-20px);
    align-items: center;

}
.dots
{
    position: absolute;
    transform-origin: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.dots::before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 14px;
    height: 14px;
    background: var(--clr);
    z-index: 10;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px var(--clr);
}


.dots.hr
{
    transform: rotate(0deg);
}
.dots.min
{
    transform: rotate(0deg);
}
.dots.sec
{
    transform: rotate(0deg);
}       
.dots.hr::before
{
    width: 18px;
    height: 18px;
}
.dots.min::before
{   
    width: 14px;
    height: 14px;
}
.dots.sec::before
{
    width: 10px;
    height: 10px;
}           

#time .circle:nth-child(1)
{
    --clr: #ff2972;
}
#time .circle:nth-child(2)
{                               
    --clr: #fee800;
}
#time .circle:nth-child(3)
{
    --clr: #04fc43;
}   
/* media query for smaller screen */
@media (max-width: 400px)
{
    #time
    {       
        gap: 20px;
    }
    #time .circle
    {
        width: 100px;
        height: 100px;
    }
    #time .circle svg
    {               
        width: 100px;
        height: 100px;
    }
}                   
#time .circle svg circle :nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440 !important;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
#time .ap
{
    position: flex;
    font-size: 0.8em;
    transform: translateX(-15px);
    align-items: center;

}
.dots::before
{
    content: '';
    position: absolute;         
    top: -5px;
    left: 50%;
    width: 14px;
    height: 14px;
    background: var(--clr);
    z-index: 10;

    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px var(--clr);



    